  @charset "UTF-8";

  body {
      background-color: rgb(199, 236, 113);
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
  }

  h1 {
      color: darkgoldenrod;
      background-color: rgb(202, 204, 100);
  }

  h2 {
      color: brown;
  }

  p {
      text-align: justify;
  }